@import "src/variables";

.footer {
  background-color: var(--mat-toolbar-container-background-color);
  padding: 20px 0;
  &__content {
    display: flex;
    gap: 10px;
  }

  &__col {
    display: flex;
    flex-direction: column;
    width: calc(50% - 5px);
    align-items: flex-start;
    gap: 5px;

    .mat-h3 {
      &--mb0 {
        margin-bottom: 0;
      }
    }
  }

  &__col-link {
    font-weight: 400;
    text-decoration: none;
    color: inherit;
  }
}
