@import "src/variables";

.header {
  position: sticky;
  width: 100%;
  z-index: 99;
  border-bottom: 2px solid $primary-default;
  opacity: 0;
  top: -100px;
  transition-duration: .3s;

  &.show {
    opacity: 1;
    top: 0;
  }

  @media(map-get($breakpoints, XSmall)) {
    .mat-toolbar-row,
    .mat-toolbar-single-row {
      height: 80px;
    }
  }

  &__toolbar  {
    width: 100%;
    padding: 10px 0;
    height: 100px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
  }

  &__buttons {
    margin-left: auto;
    display: flex;
    gap: 10px;

    &--mobile {
      flex-direction: column;
      align-items: flex-start;
      width: 200px;
    }
  }

  &__button {
    &:not(disabled) {
      &.active-route,
      &.active {
        color: $primary-default;
      }
    }

    &--mobile {
      width: 100%;
    }
  }

}
