<script src="../../app.component.ts"></script>
<header class="header" [class.show]="showHeader">
  <mat-toolbar class="header__toolbar">
    <div class="container">
      <div class="header__content">
        <app-logo></app-logo>
        <nav class="header__buttons" *ngIf="!isSmallScreen; else smallScreen">
          <a
            class="header__button"
            *ngFor="let page of PAGES"
            mat-button
            [routerLink]="page.path"
            [fragment]="page?.fragment"
            routerLinkActive="active"
            [routerLinkActiveOptions]="linkActiveOptions"
            [class.active]="page?.fragment === activeSection"
          >
            {{ page.label }}
          </a>
        </nav>
        <ng-template #smallScreen>
          <button [matMenuTriggerFor]="menu" mat-icon-button>
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <nav class="header__buttons header__buttons--mobile">
              <a
                class="header__button header__button--mobile"
                mat-button
                *ngFor="let page of PAGES"
                [routerLink]="page.path"
                [fragment]="page?.fragment"
                routerLinkActive="active"
                [routerLinkActiveOptions]="linkActiveOptions"
              >
                {{ page.label }}
              </a>
            </nav>
          </mat-menu>
        </ng-template>
      </div>
    </div>
  </mat-toolbar>
</header>
