<mat-toolbar class="header">
  <div class="container">
    <div class="header__content">
      <app-logo></app-logo>
      <nav class="header__buttons" *ngIf="!getIsSmallScreen">
        <a
          class="header__button"
          *ngFor="let page of PAGES"
          mat-button
          [routerLink]="page.path"
          routerLinkActive="active"
        >
          {{ page.label }}
        </a>
      </nav>
      <div *ngIf="getIsSmallScreen">
        <button [matMenuTriggerFor]="menu" mat-mini-fab color="primary">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <nav class="header__buttons header__buttons--mobile">
            <a
              class="header__button"
              mat-button
              *ngFor="let page of PAGES"
              [routerLink]="page.path"
              routerLinkActive="active"
            >
              {{ page.label }}
            </a>
          </nav>
        </mat-menu>
      </div>
    </div>
  </div>
</mat-toolbar>
