<section class="services">
  <div class="container">
    <mat-tab-group>
      <mat-tab label="Treningi">
        <div class="services-cards">
          <mat-card class="services-cards__card">
            <mat-card-header>
              <mat-card-title>Trening 1</mat-card-title>
              <mat-card-subtitle>Cel treningu</mat-card-subtitle>
            </mat-card-header>
            <img
              mat-card-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct
                spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Napisz do mnie</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="services-cards__card">
            <mat-card-header>
              <mat-card-title>Trening 1</mat-card-title>
              <mat-card-subtitle>Cel treningu</mat-card-subtitle>
            </mat-card-header>
            <img
              mat-card-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct
                spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Napisz do mnie</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="services-cards__card">
            <mat-card-header>
              <mat-card-title>Trening 1</mat-card-title>
              <mat-card-subtitle>Cel treningu</mat-card-subtitle>
            </mat-card-header>
            <img
              mat-card-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct
                spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Napisz do mnie</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="services-cards__card">
            <mat-card-header>
              <mat-card-title>Trening 1</mat-card-title>
              <mat-card-subtitle>Cel treningu</mat-card-subtitle>
            </mat-card-header>
            <img
              mat-card-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct
                spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Napisz do mnie</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Diety">
        <div class="services-cards">
          <mat-card class="services-cards__card">
            <mat-card-header>
              <mat-card-title>Diety 1</mat-card-title>
              <mat-card-subtitle>Cel diety</mat-card-subtitle>
            </mat-card-header>
            <img
              mat-card-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct
                spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Napisz do mnie</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="services-cards__card">
            <mat-card-header>
              <mat-card-title>Diety 2</mat-card-title>
              <mat-card-subtitle>Cel diety</mat-card-subtitle>
            </mat-card-header>
            <img
              mat-card-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct
                spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Napisz do mnie</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="services-cards__card">
            <mat-card-header>
              <mat-card-title>Diety 3</mat-card-title>
              <mat-card-subtitle>Cel diety</mat-card-subtitle>
            </mat-card-header>
            <img
              mat-card-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct
                spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Napisz do mnie</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Konsultacje">
        <div class="services-cards">
          <mat-card class="services-cards__card">
            <mat-card-header>
              <mat-card-title>Konsultacje 1</mat-card-title>
              <mat-card-subtitle>Cel konsultacji</mat-card-subtitle>
            </mat-card-header>
            <img
              mat-card-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct
                spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Napisz do mnie</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="services-cards__card">
            <mat-card-header>
              <mat-card-title>Konsultacje 2</mat-card-title>
              <mat-card-subtitle>Cel konsultacji</mat-card-subtitle>
            </mat-card-header>
            <img
              mat-card-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct
                spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Napisz do mnie</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="services-cards__card">
            <mat-card-header>
              <mat-card-title>Konsultacje 3</mat-card-title>
              <mat-card-subtitle>Cel konsultacji</mat-card-subtitle>
            </mat-card-header>
            <img
              mat-card-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct
                spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Napisz do mnie</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
