<section class="services" id="services">
  <div class="container">
    <div class="services__header">
      <h2 class="mat-h2">Usługi - treningi, diety, konsultacje</h2>
    </div>
    <mat-tab-group>
      <mat-tab label="Treningi">
        <div class="services-cards">
          <mat-card class="services-cards__card">
            <mat-card-header>
              <mat-card-title>Trening 1</mat-card-title>
              <mat-card-subtitle>Cel treningu</mat-card-subtitle>
            </mat-card-header>
            <div class="services-cards__card-img">
              <img
                mat-card-image
                fill="true"
                [ngSrc]="'assets/images/services/cardio.webp'"
                alt="Alt text"
              />
            </div>
            <mat-card-content>
              <p>
                Cras pretium aliquet tincidunt. Nunc aliquam tellus in ornare
                consectetur. Phasellus sollicitudin nunc non nisi sollicitudin,
                ut pulvinar sem interdum. Donec dignissim lectus elit, sit amet
                porta leo.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Napisz do mnie</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="services-cards__card">
            <mat-card-header>
              <mat-card-title>Trening 2</mat-card-title>
              <mat-card-subtitle>Cel treningu</mat-card-subtitle>
            </mat-card-header>
            <div class="services-cards__card-img">
              <img
                mat-card-image
                fill="true"
                [ngSrc]="'assets/images/services/lift.webp'"
                alt="Alt text"
              />
            </div>
            <mat-card-content>
              <p>
                Cras pretium aliquet tincidunt. Nunc aliquam tellus in ornare
                consectetur. Phasellus sollicitudin nunc non nisi sollicitudin,
                ut pulvinar sem interdum. Donec dignissim lectus elit, sit amet
                porta leo.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Napisz do mnie</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="services-cards__card">
            <mat-card-header>
              <mat-card-title>Trening 3</mat-card-title>
              <mat-card-subtitle>Cel treningu</mat-card-subtitle>
            </mat-card-header>
            <div class="services-cards__card-img">
              <img
                mat-card-image
                fill="true"
                [ngSrc]="'assets/images/services/women.webp'"
                alt="Alt text"
              />
            </div>
            <mat-card-content>
              <p>
                Cras pretium aliquet tincidunt. Nunc aliquam tellus in ornare
                consectetur. Phasellus sollicitudin nunc non nisi sollicitudin,
                ut pulvinar sem interdum. Donec dignissim lectus elit, sit amet
                porta leo.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Napisz do mnie</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="services-cards__card">
            <mat-card-header>
              <mat-card-title>Trening 4</mat-card-title>
              <mat-card-subtitle>Cel treningu</mat-card-subtitle>
            </mat-card-header>
            <div class="services-cards__card-img">
              <img
                mat-card-image
                fill="true"
                [ngSrc]="'assets/images/services/friends.webp'"
                alt="Alt text"
              />
            </div>
            <mat-card-content>
              <p>
                Cras pretium aliquet tincidunt. Nunc aliquam tellus in ornare
                consectetur. Phasellus sollicitudin nunc non nisi sollicitudin,
                ut pulvinar sem interdum. Donec dignissim lectus elit, sit amet
                porta leo.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Napisz do mnie</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Diety">
        <div class="services-cards">
          <mat-card class="services-cards__card">
            <mat-card-header>
              <mat-card-title>Diety 1</mat-card-title>
              <mat-card-subtitle>Cel diety</mat-card-subtitle>
            </mat-card-header>
            <div class="services-cards__card-img">
              <img
                mat-card-image
                fill="true"
                [ngSrc]="'assets/images/services/diet1.webp'"
                alt="Alt text"
              />
            </div>
            <mat-card-content>
              <p>
                Cras pretium aliquet tincidunt. Nunc aliquam tellus in ornare
                consectetur. Phasellus sollicitudin nunc non nisi sollicitudin,
                ut pulvinar sem interdum. Donec dignissim lectus elit, sit amet
                porta leo.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Napisz do mnie</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="services-cards__card">
            <mat-card-header>
              <mat-card-title>Diety 2</mat-card-title>
              <mat-card-subtitle>Cel diety</mat-card-subtitle>
            </mat-card-header>
            <div class="services-cards__card-img">
              <img
                mat-card-image
                fill="true"
                [ngSrc]="'assets/images/services/diet2.webp'"
                alt="Alt text"
              />
            </div>
            <mat-card-content>
              <p>
                Cras pretium aliquet tincidunt. Nunc aliquam tellus in ornare
                consectetur. Phasellus sollicitudin nunc non nisi sollicitudin,
                ut pulvinar sem interdum. Donec dignissim lectus elit, sit amet
                porta leo.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Napisz do mnie</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="services-cards__card">
            <mat-card-header>
              <mat-card-title>Diety 3</mat-card-title>
              <mat-card-subtitle>Cel diety</mat-card-subtitle>
            </mat-card-header>
            <div class="services-cards__card-img">
              <img
                mat-card-image
                fill="true"
                [ngSrc]="'assets/images/services/diet3.webp'"
                alt="Alt text"
              />
            </div>
            <mat-card-content>
              <p>
                Cras pretium aliquet tincidunt. Nunc aliquam tellus in ornare
                consectetur. Phasellus sollicitudin nunc non nisi sollicitudin,
                ut pulvinar sem interdum. Donec dignissim lectus elit, sit amet
                porta leo.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Napisz do mnie</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="services-cards__card">
            <mat-card-header>
              <mat-card-title>Diety 4</mat-card-title>
              <mat-card-subtitle>Cel diety</mat-card-subtitle>
            </mat-card-header>
            <div class="services-cards__card-img">
              <img
                mat-card-image
                fill="true"
                [ngSrc]="'assets/images/services/diet4.webp'"
                alt="Alt text"
              />
            </div>
            <mat-card-content>
              <p>
                Cras pretium aliquet tincidunt. Nunc aliquam tellus in ornare
                consectetur. Phasellus sollicitudin nunc non nisi sollicitudin,
                ut pulvinar sem interdum. Donec dignissim lectus elit, sit amet
                porta leo.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Napisz do mnie</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Konsultacje">
        <div class="services-cards">
          <mat-card class="services-cards__card">
            <mat-card-header>
              <mat-card-title>Konsultacje 1</mat-card-title>
              <mat-card-subtitle>Cel konsultacji</mat-card-subtitle>
            </mat-card-header>
            <div class="services-cards__card-img">
              <img
                mat-card-image
                fill="true"
                [ngSrc]="'assets/images/services/consult1.webp'"
                alt="Alt text"
              />
            </div>
            <mat-card-content>
              <p>
                Cras pretium aliquet tincidunt. Nunc aliquam tellus in ornare
                consectetur. Phasellus sollicitudin nunc non nisi sollicitudin,
                ut pulvinar sem interdum. Donec dignissim lectus elit, sit amet
                porta leo.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Napisz do mnie</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="services-cards__card">
            <mat-card-header>
              <mat-card-title>Konsultacje 2</mat-card-title>
              <mat-card-subtitle>Cel konsultacji</mat-card-subtitle>
            </mat-card-header>
            <div class="services-cards__card-img">
              <img
                mat-card-image
                fill="true"
                [ngSrc]="'assets/images/services/consult2.webp'"
                alt="Alt text"
              />
            </div>
            <mat-card-content>
              <p>
                Cras pretium aliquet tincidunt. Nunc aliquam tellus in ornare
                consectetur. Phasellus sollicitudin nunc non nisi sollicitudin,
                ut pulvinar sem interdum. Donec dignissim lectus elit, sit amet
                porta leo.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Napisz do mnie</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="services-cards__card">
            <mat-card-header>
              <mat-card-title>Konsultacje 3</mat-card-title>
              <mat-card-subtitle>Cel konsultacji</mat-card-subtitle>
            </mat-card-header>
            <div class="services-cards__card-img">
              <img
                mat-card-image
                fill="true"
                [ngSrc]="'assets/images/services/consult3.webp'"
                alt="Alt text"
              />
            </div>
            <mat-card-content>
              <p>
                Cras pretium aliquet tincidunt. Nunc aliquam tellus in ornare
                consectetur. Phasellus sollicitudin nunc non nisi sollicitudin,
                ut pulvinar sem interdum. Donec dignissim lectus elit, sit amet
                porta leo.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Napisz do mnie</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="services-cards__card">
            <mat-card-header>
              <mat-card-title>Konsultacje 4</mat-card-title>
              <mat-card-subtitle>Cel konsultacji</mat-card-subtitle>
            </mat-card-header>
            <div class="services-cards__card-img">
              <img
                mat-card-image
                fill="true"
                [ngSrc]="'assets/images/services/consult4.webp'"
                alt="Alt text"
              />
            </div>
            <mat-card-content>
              <p>
                Cras pretium aliquet tincidunt. Nunc aliquam tellus in ornare
                consectetur. Phasellus sollicitudin nunc non nisi sollicitudin,
                ut pulvinar sem interdum. Donec dignissim lectus elit, sit amet
                porta leo.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Napisz do mnie</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
